body {
  margin: 25px;
  background-color:rgb(242 242 242);
  font-family:futura-pt;
}
dark-wrapper {
  padding-right: 0;
  padding-left: 0;
  background-color: #f2f2f2;
}
stickySearch {
  background-color:#f2f2f2;
}
