.body {
  margin: 25px;
  font-family:futura-pt;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  background-color: #981f1f !important;
  color: #3f8dbf;
  font-size: 14px;
  font-weight: 500;
}
.dark-wrapper {
  padding-right: 0;
  padding-left: 0;
  background-color:rgb(242 242 242);
  font-family:futura-pt;
}
#stickySearch, #search-tab {
  padding-right: 0;
  padding-left: 0;
  background-color:rgb(242 242 242);
  font-family:futura-pt;
}
.nav-login {
  display: none !important;
}
.p {
  background-color:rgb(242 242 242);
  font-family:futura-pt;
}
.idx-quick-search input.search-query {
  display: none !important;
}
.mx-idx-myaccount-menu a {
  display: none !important;
}
