.body {
  margin: 25px;
  background-color:rgb(242 242 242);
  font-family:futura-pt;
}
.dark-wrapper {
  padding-right: 0;
  padding-left: 0;
  background-color:rgb(242 242 242);
  font-family:futura-pt;
}
.stickySearch {
  background-color:rgb(242 242 242);
}
.nav-login {
  display: none;
}
.p {
  background-color:rgb(242 242 242);
  font-family:futura-pt;
}
